
$breakPoints: (
  medium: 768px,
  large: 960px
);

$primary : #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$button-active-blue: #1669f2;
$google-blue: #4285f4;
$white: #fff;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

:root{
  --primary : #{$primary};
  --dark-grey : #{$dark-grey};
  --light-grey: #{$light-grey};
  --button-active-blue: #{$button-active-blue};
  --google-blue: #{$google-blue};
  --white: #{$white};
}