.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}
// https://cheesecakelabs.com/blog/css-architecture-first-steps/#:~:text=A%20CSS%20architecture%20brings%20reasoning,conveying%20meaning%20to%20our%20codebase.

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation: bounceIn 0.7s both ;
}